body {
    height: 200px;
    background: beige;
  }
.dot {
    height: 8px; width: 8px;
    border-radius: 4px; /* rounds corners */
    background: teal;
    position: absolute;
  }
#content {
	height:90%;
	width: 100%;
}
#clean {
	height: 44px;
	width: 100px:
	position: 10px 400px;
}
footer {
	box-sizing: border-box;
	/*position: sticky; - DR*/
	bottom: 0px;
	padding-left:10px;
	padding-right: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
	bottom-align: 0px;
}
